/* 
reset
 */

 *{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
 }

 /* 
 general
  */

  .container{
    max-width: 600px;
    margin: auto 0 ;
  
 }


 /* 
 header
  */

header{
    background-color: #FF6900 ;
    min-height: 50px;
    min-width: 800px;
    position: fixed;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header div img{
    max-height: 1em;
}

/* 
footer
 */

 footer{
    background-color: #1A1A1A;
    min-height: 50px;
    min-width: 800px;
    position: fixed;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer div span {
    margin: 0 6px;
}

footer div span :not(:first-of-type){
    margin: 0 6px;
}


