/* 
reset
 */

 *{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
 }

 /* 
 general
  */
.container{
    max-width: 1000px;
    margin: 0 auto;
}

 /* 
 header
  */

  header{
    background-color:#FF6900 ;
  }
  .nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-weight: bold;
  }

  .nav-bar ul, .footer-content ul {
    list-style: none;
    display: flex;
  }

  .nav-bar ul li:not(:last-child){
    margin-right: 10px;
  }

  .nav-bar nav a , .nav-bar nav h4{
    text-decoration: none;
    color: white;
    display: inline-block;
    padding-bottom: 3px;

  }

  .nav-bar img{
    max-height: 30px;
  }

  nav h4 ul{
text-align: center;
  }
/* 
main
 */

 /* 
 footer
  */

  footer{
    background-color: #1A1A1A;
  }
  





